@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
#white-block{position: absolute; background-color: #ffffff; width: 500px; height: 250px; top: 50px;  margin-left: 810px;}
#black-block{background-color: #445162; width: 430px; height: 250px; position: absolute; top: 420px; margin-left: 880px;}

li{list-style-type: none;}
.wrapper{width: auto; padding: 0px 50px; max-width: 1280px;margin: 0 auto;}
/* header */
.header-bc{
    background-color: #445162;
}
.header-block{
    background-color: #445162;
    color: #ffffff;
    padding-bottom: 50px;
}
.header-block h1{
    padding: 30px 0px;
    font-size: 60px;
    font-weight: 300;
}
.header-block img{
    margin-right: 10px;
}
.header-block li{
    font-size: 20px;
    margin-top: 18px;
}
/* end header */
/* project */
.project-bc{
    background-color: #ffffff;
}
.project-content{
    background-color: #ffffff;
}
.project-content h2{
    font-size: 30px;
    padding: 30px 0px;
    color: #445161;
}
.project-content .text{
    width: 685px;
    color: #5d5d5d;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 110px;
}
.project-content span{
    display: inline-block;
    margin-bottom: 25px;
}
/* end project */
/* dignity */
.dignity-bc{
    background-color: #f5f5f5;
}
.dignity-content{
    background-color: #f5f5f5;
}
.dignity-content h2{
    font-size: 30px;
    color: #445161;
    text-align: center;
    padding: 30px 0px;
}
.dignity-content img{
    position: absolute;
    padding: 5px;
    background-color: #445161;
}
.dignity-block{
    color: #445161;
    font-size: 16px;
    width: 535px;
    margin-left: 45px;
    margin-bottom: 40px;
    display: block;
}
.dignity-block-left{
    display: inline-block;
}
.dignity-block-right{
    float: right;
}
/* end dignity */
/* scrinshots */
.scrinshots-bc{
    background-color: #ffffff;
}
.scrinshots-content{
    background-color: #ffffff;
}
.scrinshots-content h2{
    font-size: 30px;
    color: #445161;
    text-align: center;
    padding: 30px 0px;
}
.scrinshots-block{
   display: inline-block;
}
.square{
    width: 200px;
    height: 150px;
    background-color: #445161;
    position: absolute;
}
.scrinshots-block h3{
    font-size: 24px;
    color: #445161;
    margin-bottom: 20px;
}
.scrinshots-block span{
    font-size: 16px;
    color: #333333;
}
.wrap{
    margin-left: 220px;
    width: 365px;
    margin-bottom: 50px;
}
/* end scrinshots */
/* reviews */
.reviews-bc{
    background-color: #f5f5f5;
}
.reviews-content{
    background-color: #f5f5f5;
    padding-bottom: 35px;
}
.reviews-content h2{
    font-size: 30px;
    color: #445161;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.reviews-block{
    margin-top: 25px;
    display: inline-block;
    margin-right: 16px;
}
.circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #445161;
    position: absolute;
}
.block-content{
    margin-left: 100px;
    width: 450px;
    background-color: #ebebeb;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}
.cube{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ebebeb;
    transform: rotate(45deg);
    margin-left: -20px;
    margin-top: 27px;
}
.block-content span{
    font-size: 14px;
    color: #333333;
}
.signature{
    margin-top: 10px;
    font-size: 14px;
    color: #989898;
}
/* end reviews */
/* buy */
.buy-bc{
    background-color: #ffffff;
}
.buy-content{
    background-color: #ffffff;
}
.buy-content h2{
    color: #445161;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.buy-blocks{
    width: 292px;
    border: 3px solid #445162;
    border-radius: 4px;
    background-color: #445162;
    display: inline-block;
    margin-left: 75px;
    margin-bottom: 50px;
}
.buy-blocks h3{
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.buy-blocks span{
    padding: 2px 102px;
    font-size: 40px;
    font-weight: 600;
    color: #445162;
    background-color: #ffffff;    
}
.buy-blocks ul{
    margin-top: 25px;
    font-size: 14px;
    color: #ffffff;
}
.buy-blocks li{
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 10px;
}
.buy-btn{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #445161;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 5px 107px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}
.buy-btn:hover{
    color: #ffffff;
    background-color: #445161;
}
/* end buy */
/* contacts */
.contacts-bc{
    background-color: #445162;
}
.contacts-content{
    background-color: #445162;
}
.contacts-content h2{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.contacts-wrap{
    width: auto;
}
.forma{
    width: 500px;
    display: inline-block;
    margin-right: 50px;
    margin-left: 255px;
}
.forma input{
    outline: none;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    color: #445162;
    padding: 10px 0;
    padding-left: 10px;
    margin-bottom: 20px;
}
.forma textarea{
    outline: none;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    color: #445162;
    padding-left: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    height: 170px;

}
.forma button{
    outline: none;
    border: 1px solid #ffffff;
    padding: 8px 45px;
    font-size: 16px;
    font-weight: 600;
    color: #445162;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
    
    margin-left: 40%;
}
.forma button:hover{
    color: #ffffff;
    background-color: #445161;
}
.contacts-wrap .contact-info{
    display: inline-block;
    position: absolute;
}
.contact-info img{
    position: absolute;
    left: -20px;
    margin-top: -4px;
}
.contact-info ul{
    margin-top: 10px;
}
.contact-info li{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 10px;
}
/* end contacts */
/* footer */
.footer-bc{
    background-color: #ffffff;
}
.footer-content span{
    display: inline-block;
    font-size: 12px;
    color: #445162;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-left: 40%;
}
/* end footer */